In [ ]:
#####----PYTHON 101----#####

In [26]:
## Ngôn ngữ Python

In [2]:
#Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [9]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [10]:
#Python Function def
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [11]:
#Python if else
score = 80
if score >= 60 :
    print ("Pass")
else:
    print("Fail")

Pass

In [13]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'
word = "Hello"
word = '''Hello'''
print(word)

Hello

In [14]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.13.5

In [25]:
#Data types
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex 
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

#Casting
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [27]:
#Numbers
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [20]:
#Python Basic Operators
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [21]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [24]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [ ]:
## Cấu trúc dữ liệu

In [29]:
x = ["apple", "banana", "cherry"] #list
print (x, type(x))
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print (x, type(x))
x = {"apple", "banana", "cherry"} #set 
print (x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'banana', 'cherry'} <class 'set'>

In [30]:
# List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [31]:
#tuple
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [33]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [34]:
# dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [37]:
# data types
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue")      #tuples ()
animals = {'cat', 'dog'}               #sets {}
person = {"name" : "Tom", "age" : 20}  #dictionaries {}

In [38]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [43]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [46]:
# Python Sets
account_numbers = set([acc[1] for acc in accounts]) # et comprehensive
print(account_numbers)
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

{1001, 1002, 1003}
Account number 1004 is not in use.

#dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}
}
for acc_num, acc_info in accounts.items():
    print("-" * 50)
    print("Account number:", acc_num)
    print("Account name:", acc_info["name"])
    print("Account balance:", acc_info["balance"])
    print("Account type:", acc_info["type"])

In [ ]:
## Control Logic & Loop

In [52]:
# If
score = 80
if score >=60 :
    print("Pass")

Pass

In [51]:
# If else
score = 80
if score >= 60 :
    print("Pass")
else:
    print("Fail")

Pass

In [54]:
# if elif else
score = 95
if score >= 90 :
    print("A")
elif score >=60 :   # score < 90 and score >= 60
    print("Pass")
else:
    print("Fail")

A

In [55]:
score = 90
grade = ""
if score >=90:    # [>90]
    grade = "A"
elif score >= 80:    # score < 90 and score >= 80 [80, 90)
    grade = "B"
elif score >= 70:    # [70, 80)
    grade = "C"
elif score >= 60:    # [60, 70)
    grade = "D"
else:                # score < 60
    grade = "E"
print(grade)

A

In [56]:
# loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [60]:
# 2 loop
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)
    print('-'*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [62]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

In [ ]:
## Module & Function

In [65]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
## Classes & Objects

In [70]:
# Python class
class MyClass:
    x = 5
c1 = MyClass()
print(c1.x)

5

In [71]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
p1 = Person("Alan", 20)
print(p1.name, p1.age)

Alan 20

In [76]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is ",  self.name)
p1 = Person("Alan", 20)
print(p1.name, p1.age)
p1.myfunc()

Alan 20
Hello my name is  Alan

In [1]:
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.0

  def __init__(self, name="", kind="car", color="", value=100.0):
    self.name = name
    self.kind = kind
    self.color = color
    self.value = value
    pass

  def description(self):
    desc_str = f'{self.name} is a {self.color} {self.kind} worth ${self.value:.2f}.'
    return desc_str
    pass

car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.0

car2 = Vehicle("Jump", 'blue', 'van', 10000.0)

print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a van blue worth $10000.00.

In [84]:
%%writefile mymodule.py
def greeting(name):
    print("Hello, " + name)

Writing mymodule.py

In [89]:
!type mymodule.py

def greeting(name):
    print("Hello, " + name)

In [90]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan

In [91]:
#Python main() function
def main():
    print("Hello World!")
if __name__ == "__main__":
    main()

Hello World!

In [95]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
    text = '''def greeting(name): print("Hello, " + name)'''
    file.write(text)
with open(filename, 'r') as file:
    text = file.read()
print(filename)
print(text)

mymodule.py
def greeting(name): print("Hello, " + name)

In [99]:
# Files and Exception Handling
try:
    price = float(input("Enter the price of the stock (e.g. 10):"))
    shares = int(input("Enter the number of shares (e.g. 2):"))
    total = price * shares
except Exception as e:
    print("Exception error:", str(e))
else:
    print("The total value of the shares is:", total)
finally:
    print("Thank you.")

Enter the price of the stock (e.g. 10): 1000
Enter the number of shares (e.g. 2): 2

The total value of the shares is: 2000.0
Thank you.

In [101]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")

Exception file Error

In [102]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

Exception file Error
Finally process

In [104]:
try:
    file = open("myfile.txt", 'w')
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

file saved
Finally process